<div class="container">
   <h1>Modify your Profile:</h1>
   <hr>

   <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <!-- <li class=" {{profilectrl.idx}}==0 ? active :'' "><a>Basic info</a></li> -->
        <li class="{{profilectrl.idx==0 ? 'active' :''}}"><a ng-click="profilectrl.changeTab(0)">Basic info</a></li>
        <li class="{{profilectrl.idx==1 ? 'active' :''}}"><a ng-click="profilectrl.changeTab(1)">Password</a></li>
      </ul>
    
      <!-- Tab panes -->
      <div class="tab-content">
        <div ng-if="profilectrl.idx==0">
         {{loginctrl.loginFormObj}}
         <form name="loginForm">
            <p>
               Email:
            </p>
            <p>
               <input type="email" name="" class="form-control" disabled ng-model="profilectrl.formObj.email">
            </p>
            <p>
               Nickname:
            </p>
            <p>
               <input type="text" name="" class="form-control" disabled ng-model="profilectrl.formObj.nickname">
            </p>
            <p>
               Signature:
            </p>
            <p>
               <input type="text" name="" class="form-control" disabled ng-model="profilectrl.formObj.signature">
            </p>
            <p>
               Photo:
            </p>
            <p>
               <img src="/images/person.jpg" alt="">
               <img src="uploads\upload_142cd12c5ff4031ecba25b19f8c600a9" alt="">
               <input type="file" id="imgFile" nv-file-select uploader="profilectrl.uploader">
            </p>
            <p>
               <input type="button" value="Confirm" class="btn btn-success" ng-click="profilectrl.save()">
            </p>
         </form>
         </div>
        <div ng-if="profilectrl.idx==1">
           2
         </div>
      </div>
    
    </div>

    <!-- Include cut picture directive -->
   <div class="mask_profile cutbox" ng-show="profilectrl.showCuttingBoard">
      <div class="inner_box" id="inner_box">
         <a href="javascript:;" class="mask_close" ng-click="profilectrl.showCuttingBoard=false">x</a>
          <!-- Include cut picture directive -->
         <cut-pic img="{{profilectrl.getImgSrc()}}" v="profilectrl.v" maxwidth="600" maxheight="400" ></cut-pic>

      </div>
   </div>
</div>
