*{
    padding: 0px;
    margin: 0px;
}
header{
    width: 800px;
    height: 100px;
    background-color: rgb(248, 175, 175);
    margin: 0 auto;
}

footer{
    height: 20px;
}

header nav{
    font-size: 30px;
}

header nav :active{
    color: red;
}


.content{
    width: 800px;
    height: 400px;
    margin: 0 auto;
}

.left{
    float: left;
    height: 300px;
    width: 300px;
    background-color: rgb(94, 233, 106);
}
.right{
    float: left;
    height: 300px;
    width: 500px;
    background-color: rgb(245, 196, 60);
}

.nav-tabs a{
    cursor: pointer;
}

.tab-content div{
    padding-top: 20px;
}

.mask_profile{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.inner_box{
	position: fixed;
	top: 50%;
	left:50%;
	width: 850px;
	height: 480px;
	background-color: white;
	transform:translate(-50%,-50%);
	border-radius: 10px;
	padding: 20px;
}

.mask_close{
    position: absolute;
    right:20px;
    top: 20px;
    font-size: 20px;
}